<div class="dashboard-container">
  <div class="dashboard-actions">
    <button class="btn btn-info" [routerLink]="['/new']">Add New Poll</button>
  </div>
  <div class="dashboard-content">
    <div class="row">
      <div class="col-sm-6">
        <div class="top-polls">
          <h2>Top Polls</h2>
          <div class="poll-item" *ngFor="let poll of topPolls">
            <div class="icon-container">
              <i class="fa fa-pie-chart" aria-hidden="true"></i>
            </div>
            <div class="poll-info">
              <div>
                <a [routerLink]="['/poll', poll._id]" >{{ poll.question }}</a>
              </div>
              <div class="options">
                 <span *ngFor="let option of poll.options">
                   {{option.option}}:{{option.vote}}
                </span>
              </div>

              <div>( {{ getRelativeTime(poll.createdAt) }} )</div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="recent-polls">
          <h2>Recent Polls</h2>
          <div class="poll-item" *ngFor="let poll of polls">
            <div class="icon-container">
              <i class="fa fa-pie-chart" aria-hidden="true"></i>
            </div>
            <div class="poll-info">
              <div>
                <a [routerLink]="['/poll', poll._id]" >{{ poll.question }}</a>
              </div>
              <div class="options">
                 <span *ngFor="let option of poll.options">
                   {{option.option}}:{{option.vote}}
                </span>
              </div>

              <div>( {{ getRelativeTime(poll.createdAt) }} )</div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>



</div>
